USE [master]
GO
/****** Object:  Database [BD_SHALOM]    Script Date: 22/07/2026 15:41:14 ******/
CREATE DATABASE [BD_SHALOM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_SHALOM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD_SHALOM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_SHALOM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD_SHALOM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_SHALOM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_SHALOM]
GO
/****** Object:  Table [dbo].[ASIGNACION_PRODUCCION_VENTA]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_PRODUCCION_VENTA](
	[ID_ASIG_PROD] [varchar](10) NOT NULL,
	[ESTADO_TRABAJO] [varchar](25) NOT NULL,
	[ID_DETALLE_PED] [varchar](10) NULL,
	[ID_COLABORADOR_DIS] [varchar](10) NULL,
	[ID_COLABORADOR_SUB] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ASIG_PROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOLETA]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLETA](
	[ID_COMPROBANTE] [varchar](10) NOT NULL,
	[DNI_RECEPTOR] [varchar](8) NOT NULL,
	[NOMBRE_RECEPTOR] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMPROBANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATALOGO_DISENOS]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATALOGO_DISENOS](
	[ID_DISENO] [varchar](10) NOT NULL,
	[NOMBRE_ARTE] [varchar](50) NOT NULL,
	[CATEGORIA_TEMA] [varchar](25) NOT NULL,
	[PRECIO_ADICIONAL] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DISENO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [varchar](10) NOT NULL,
	[NOMBRE_CATEGORIA] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [varchar](10) NOT NULL,
	[CORREO_CLIENTE] [varchar](50) NOT NULL,
	[TELEFONO_CLIENTE] [varchar](15) NOT NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE_JURIDICO]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE_JURIDICO](
	[ID_CLIENTE] [varchar](10) NOT NULL,
	[RUC_CLIENTE] [varchar](11) NOT NULL,
	[RAZON_SOCIAL] [varchar](50) NOT NULL,
	[REPRESENTANTE_LEGAL] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE_NATURAL]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE_NATURAL](
	[ID_CLIENTE] [varchar](10) NOT NULL,
	[DNI_CLIENTE] [varchar](8) NOT NULL,
	[NOMBRES_CLIENTE] [varchar](50) NOT NULL,
	[APELLIDOS_CLIENTE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLABORADOR]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLABORADOR](
	[ID_COLABORADOR] [varchar](10) NOT NULL,
	[NOMBRE_COLABORADOR] [varchar](25) NOT NULL,
	[APELLIDO_COLABORADOR] [varchar](25) NOT NULL,
	[DNI_COLABORADOR] [varchar](8) NOT NULL,
	[ID_SUCURSAL] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COLABORADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLABORADOR_DISENADOR]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLABORADOR_DISENADOR](
	[ID_COLABORADOR] [varchar](10) NOT NULL,
	[CERTIFICADO_DISENADOR] [varchar](25) NOT NULL,
	[EXPERIENCIA_DISENADOR] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COLABORADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLABORADOR_SUBLIMADOR]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLABORADOR_SUBLIMADOR](
	[ID_COLABORADOR] [varchar](10) NOT NULL,
	[SOFTWARE_SUBLIMADOR] [varchar](25) NOT NULL,
	[ENLACE_SUBLIMADOR] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COLABORADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLABORADOR_VENDEDOR]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLABORADOR_VENDEDOR](
	[ID_COLABORADOR] [varchar](10) NOT NULL,
	[COMISION_VENDEDOR] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COLABORADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPROBANTE]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPROBANTE](
	[ID_COMPROBANTE] [varchar](10) NOT NULL,
	[FECHA_EMISION] [datetime] NOT NULL,
	[MONTO_SUBTOTAL] [decimal](10, 2) NOT NULL,
	[IGV_COMPROBANTE] [decimal](10, 2) NOT NULL,
	[MONTO_TOTAL] [decimal](10, 2) NOT NULL,
	[ESTADO_COMPROBANTE] [varchar](20) NOT NULL,
	[ID_PEDIDO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMPROBANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESPACHO]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESPACHO](
	[ID_DESPACHO] [varchar](10) NOT NULL,
	[FECHA_PROGRAMADA] [datetime] NOT NULL,
	[COSTO_ENVIO] [decimal](10, 2) NOT NULL,
	[ID_PEDIDO] [varchar](10) NULL,
	[ID_DIRECCION] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DESPACHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PEDIDO]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDO](
	[ID_DETALLE_PED] [varchar](10) NOT NULL,
	[CANTIDAD_DETALLE] [int] NOT NULL,
	[SUBTOTAL_DETALLE] [decimal](10, 2) NOT NULL,
	[TALLA_COLOR] [varchar](25) NOT NULL,
	[ID_PEDIDO] [varchar](10) NULL,
	[ID_PRODUCTO] [varchar](10) NULL,
	[ID_DISENO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_PED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_RUTA_DESPACHO]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_RUTA_DESPACHO](
	[ID_RUTA] [varchar](10) NOT NULL,
	[HORA_SALIDA] [datetime] NOT NULL,
	[ESTADO_ENTREGA] [varchar](20) NOT NULL,
	[ID_DESPACHO] [varchar](10) NULL,
	[ID_REPARTIDOR] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RUTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_SUCURSAL]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_SUCURSAL](
	[ID_DETALLE_SUCURSAL] [varchar](10) NOT NULL,
	[FECHA_DETALLE_SUCURSAL] [datetime] NOT NULL,
	[ID_SEDE] [varchar](10) NULL,
	[ID_SUCURSAL] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_TURNO_EMPLEADO]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_TURNO_EMPLEADO](
	[ID_DETALLE] [varchar](10) NOT NULL,
	[FECHA_DETALLE] [datetime] NOT NULL,
	[ID_COLABORADOR] [varchar](10) NULL,
	[ID_TURNO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECCION_CLIENTE]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCION_CLIENTE](
	[ID_DIRECCION] [varchar](10) NOT NULL,
	[CALLE_DIRECCION] [varchar](50) NOT NULL,
	[REFERENCIA_DIRECCION] [varchar](50) NOT NULL,
	[ID_CLIENTE] [varchar](10) NULL,
	[ID_UBIGEO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DIRECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[ID_COMPROBANTE] [varchar](10) NOT NULL,
	[RUC_RECEPTOR] [varchar](11) NOT NULL,
	[RAZON_SOCIAL_REC] [varchar](50) NOT NULL,
	[DIRECCION_FISCAL] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMPROBANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO_SUCURSAL]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO_SUCURSAL](
	[ID_INVENTARIO] [varchar](10) NOT NULL,
	[STOCK_DISPONIBLE] [int] NOT NULL,
	[ID_SUCURSAL] [varchar](10) NULL,
	[ID_PRODUCTO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[ID_PAGO] [varchar](10) NOT NULL,
	[MONTO_PAGADO] [decimal](10, 2) NOT NULL,
	[FECHA_PAGO] [datetime] NOT NULL,
	[ID_COMPROBANTE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_DIGITAL]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_DIGITAL](
	[ID_PAGO] [varchar](10) NOT NULL,
	[TIPO_BILLETERA] [varchar](20) NOT NULL,
	[NUMERO_CELULAR] [varchar](15) NOT NULL,
	[CODIGO_APROBACION] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_EFECTIVO]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_EFECTIVO](
	[ID_PAGO] [varchar](10) NOT NULL,
	[MONTO_ENTREGADO] [decimal](10, 2) NOT NULL,
	[VUELTO_CAMBIO] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_TARJETA]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_TARJETA](
	[ID_PAGO] [varchar](10) NOT NULL,
	[TIPO_TARJETA] [varchar](20) NOT NULL,
	[ULTIMOS_DIGITOS] [varchar](4) NOT NULL,
	[NUMERO_OPERACION] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_VENTA]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_VENTA](
	[ID_PEDIDO] [varchar](10) NOT NULL,
	[FECHA_PEDIDO] [datetime] NOT NULL,
	[TOTAL_ESTIMADO] [decimal](10, 2) NOT NULL,
	[ID_CLIENTE] [varchar](10) NULL,
	[ID_COLABORADOR] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_BASE]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_BASE](
	[ID_PRODUCTO] [varchar](10) NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](50) NOT NULL,
	[PRECIO_UNITARIO_BASE] [decimal](10, 2) NOT NULL,
	[ID_CATEGORIA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPARTIDOR]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARTIDOR](
	[ID_REPARTIDOR] [varchar](10) NOT NULL,
	[NOMBRE_COMPLETO_REP] [varchar](50) NOT NULL,
	[TELEFONO_REPARTIDOR] [varchar](15) NOT NULL,
	[PLACA_VEHICULO] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_REPARTIDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEDE]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEDE](
	[ID_SEDE] [varchar](10) NOT NULL,
	[NOMBRE_SEDE] [varchar](25) NOT NULL,
	[PRESIO_ALQUILER_SEDE] [decimal](10, 2) NOT NULL,
	[DIRECCION_SEDE] [varchar](25) NOT NULL,
	[ID_UBIGEO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SEDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[ID_SUCURSAL] [varchar](10) NOT NULL,
	[NUMERO_TELEFONO_SUCURSAL] [varchar](15) NOT NULL,
	[HORA_SUCURSAL] [datetime] NOT NULL,
	[NOMBRE_SUCURSAL] [varchar](25) NOT NULL,
	[ID_UBIGEO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNO]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNO](
	[ID_TURNO] [varchar](10) NOT NULL,
	[DESCRIPCION_TURNO] [varchar](25) NOT NULL,
	[HORA_TURNO] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TURNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBIGEO]    Script Date: 22/07/2026 15:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBIGEO](
	[ID_UBIGEO] [varchar](10) NOT NULL,
	[DEPARTAMENTO_UBIGEO] [varchar](25) NOT NULL,
	[PROVINCIA_UBIGEO] [varchar](25) NOT NULL,
	[DISTRITO_UBIGEO] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_UBIGEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ASIGNACION_PRODUCCION_VENTA] ([ID_ASIG_PROD], [ESTADO_TRABAJO], [ID_DETALLE_PED], [ID_COLABORADOR_DIS], [ID_COLABORADOR_SUB]) VALUES (N'ASIG-01', N'Terminado', N'DP-01', N'COL-21', N'COL-36')
INSERT [dbo].[ASIGNACION_PRODUCCION_VENTA] ([ID_ASIG_PROD], [ESTADO_TRABAJO], [ID_DETALLE_PED], [ID_COLABORADOR_DIS], [ID_COLABORADOR_SUB]) VALUES (N'ASIG-02', N'En Proceso', N'DP-03', N'COL-22', N'COL-37')
INSERT [dbo].[ASIGNACION_PRODUCCION_VENTA] ([ID_ASIG_PROD], [ESTADO_TRABAJO], [ID_DETALLE_PED], [ID_COLABORADOR_DIS], [ID_COLABORADOR_SUB]) VALUES (N'ASIG-03', N'Terminado', N'DP-04', N'COL-25', N'COL-40')
GO
INSERT [dbo].[BOLETA] ([ID_COMPROBANTE], [DNI_RECEPTOR], [NOMBRE_RECEPTOR]) VALUES (N'COM-01', N'70000001', N'Mateo López')
INSERT [dbo].[BOLETA] ([ID_COMPROBANTE], [DNI_RECEPTOR], [NOMBRE_RECEPTOR]) VALUES (N'COM-03', N'70000002', N'Camila Vargas')
INSERT [dbo].[BOLETA] ([ID_COMPROBANTE], [DNI_RECEPTOR], [NOMBRE_RECEPTOR]) VALUES (N'COM-05', N'70000005', N'Matias Gutiérrez')
GO
INSERT [dbo].[CATALOGO_DISENOS] ([ID_DISENO], [NOMBRE_ARTE], [CATEGORIA_TEMA], [PRECIO_ADICIONAL]) VALUES (N'DIS-01', N'Goku UI', N'Anime', CAST(5.00 AS Decimal(10, 2)))
INSERT [dbo].[CATALOGO_DISENOS] ([ID_DISENO], [NOMBRE_ARTE], [CATEGORIA_TEMA], [PRECIO_ADICIONAL]) VALUES (N'DIS-02', N'Vegeta SSJ', N'Anime', CAST(5.00 AS Decimal(10, 2)))
INSERT [dbo].[CATALOGO_DISENOS] ([ID_DISENO], [NOMBRE_ARTE], [CATEGORIA_TEMA], [PRECIO_ADICIONAL]) VALUES (N'DIS-03', N'Naruto Sabio', N'Anime', CAST(5.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE_CATEGORIA]) VALUES (N'CAT-01', N'Textil - Polos')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE_CATEGORIA]) VALUES (N'CAT-02', N'Textil - Poleras')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE_CATEGORIA]) VALUES (N'CAT-03', N'Tazas y Cerámica')
GO
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [CORREO_CLIENTE], [TELEFONO_CLIENTE], [FECHA_REGISTRO]) VALUES (N'CLI-01', N'c1@mail.com', N'900000001', CAST(N'2026-07-17T21:19:35.803' AS DateTime))
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [CORREO_CLIENTE], [TELEFONO_CLIENTE], [FECHA_REGISTRO]) VALUES (N'CLI-02', N'c2@mail.com', N'900000002', CAST(N'2026-07-17T21:19:35.803' AS DateTime))
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [CORREO_CLIENTE], [TELEFONO_CLIENTE], [FECHA_REGISTRO]) VALUES (N'CLI-03', N'c3@mail.com', N'900000003', CAST(N'2026-07-17T21:19:35.803' AS DateTime))
GO
INSERT [dbo].[CLIENTE_JURIDICO] ([ID_CLIENTE], [RUC_CLIENTE], [RAZON_SOCIAL], [REPRESENTANTE_LEGAL]) VALUES (N'CLI-31', N'20000000001', N'Constructora A', N'Gerente 1')
INSERT [dbo].[CLIENTE_JURIDICO] ([ID_CLIENTE], [RUC_CLIENTE], [RAZON_SOCIAL], [REPRESENTANTE_LEGAL]) VALUES (N'CLI-32', N'20000000002', N'Colegio B', N'Gerente 2')
INSERT [dbo].[CLIENTE_JURIDICO] ([ID_CLIENTE], [RUC_CLIENTE], [RAZON_SOCIAL], [REPRESENTANTE_LEGAL]) VALUES (N'CLI-33', N'20000000003', N'Agencia C', N'Gerente 3')
GO
INSERT [dbo].[CLIENTE_NATURAL] ([ID_CLIENTE], [DNI_CLIENTE], [NOMBRES_CLIENTE], [APELLIDOS_CLIENTE]) VALUES (N'CLI-01', N'70000001', N'Mateo', N'López')
INSERT [dbo].[CLIENTE_NATURAL] ([ID_CLIENTE], [DNI_CLIENTE], [NOMBRES_CLIENTE], [APELLIDOS_CLIENTE]) VALUES (N'CLI-02', N'70000002', N'Camila', N'Vargas')
INSERT [dbo].[CLIENTE_NATURAL] ([ID_CLIENTE], [DNI_CLIENTE], [NOMBRES_CLIENTE], [APELLIDOS_CLIENTE]) VALUES (N'CLI-03', N'70000003', N'Santiago', N'Rojas')
GO
INSERT [dbo].[COLABORADOR] ([ID_COLABORADOR], [NOMBRE_COLABORADOR], [APELLIDO_COLABORADOR], [DNI_COLABORADOR], [ID_SUCURSAL]) VALUES (N'COL-01', N'Carlos', N'Ramos', N'11111111', N'SUC-01')
INSERT [dbo].[COLABORADOR] ([ID_COLABORADOR], [NOMBRE_COLABORADOR], [APELLIDO_COLABORADOR], [DNI_COLABORADOR], [ID_SUCURSAL]) VALUES (N'COL-02', N'Ana', N'Pérez', N'11111112', N'SUC-01')
INSERT [dbo].[COLABORADOR] ([ID_COLABORADOR], [NOMBRE_COLABORADOR], [APELLIDO_COLABORADOR], [DNI_COLABORADOR], [ID_SUCURSAL]) VALUES (N'COL-03', N'Luis', N'Gómez', N'11111113', N'SUC-01')
GO
INSERT [dbo].[COLABORADOR_DISENADOR] ([ID_COLABORADOR], [CERTIFICADO_DISENADOR], [EXPERIENCIA_DISENADOR]) VALUES (N'COL-21', N'Adobe Cert', N'3 Años')
INSERT [dbo].[COLABORADOR_DISENADOR] ([ID_COLABORADOR], [CERTIFICADO_DISENADOR], [EXPERIENCIA_DISENADOR]) VALUES (N'COL-22', N'Corel Cert', N'2 Años')
INSERT [dbo].[COLABORADOR_DISENADOR] ([ID_COLABORADOR], [CERTIFICADO_DISENADOR], [EXPERIENCIA_DISENADOR]) VALUES (N'COL-23', N'Adobe Cert', N'5 Años')
GO
INSERT [dbo].[COLABORADOR_SUBLIMADOR] ([ID_COLABORADOR], [SOFTWARE_SUBLIMADOR], [ENLACE_SUBLIMADOR]) VALUES (N'COL-36', N'Epson Edge', N'link.com/p1')
INSERT [dbo].[COLABORADOR_SUBLIMADOR] ([ID_COLABORADOR], [SOFTWARE_SUBLIMADOR], [ENLACE_SUBLIMADOR]) VALUES (N'COL-37', N'Roland Versa', N'link.com/p2')
INSERT [dbo].[COLABORADOR_SUBLIMADOR] ([ID_COLABORADOR], [SOFTWARE_SUBLIMADOR], [ENLACE_SUBLIMADOR]) VALUES (N'COL-38', N'Epson Edge', N'link.com/p3')
GO
INSERT [dbo].[COLABORADOR_VENDEDOR] ([ID_COLABORADOR], [COMISION_VENDEDOR]) VALUES (N'COL-01', CAST(5.00 AS Decimal(10, 2)))
INSERT [dbo].[COLABORADOR_VENDEDOR] ([ID_COLABORADOR], [COMISION_VENDEDOR]) VALUES (N'COL-02', CAST(5.00 AS Decimal(10, 2)))
INSERT [dbo].[COLABORADOR_VENDEDOR] ([ID_COLABORADOR], [COMISION_VENDEDOR]) VALUES (N'COL-03', CAST(5.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[COMPROBANTE] ([ID_COMPROBANTE], [FECHA_EMISION], [MONTO_SUBTOTAL], [IGV_COMPROBANTE], [MONTO_TOTAL], [ESTADO_COMPROBANTE], [ID_PEDIDO]) VALUES (N'COM-01', CAST(N'2026-05-10T10:35:00.000' AS DateTime), CAST(67.80 AS Decimal(10, 2)), CAST(12.20 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)), N'Emitido', N'PED-01')
INSERT [dbo].[COMPROBANTE] ([ID_COMPROBANTE], [FECHA_EMISION], [MONTO_SUBTOTAL], [IGV_COMPROBANTE], [MONTO_TOTAL], [ESTADO_COMPROBANTE], [ID_PEDIDO]) VALUES (N'COM-02', CAST(N'2026-05-15T14:25:00.000' AS DateTime), CAST(211.86 AS Decimal(10, 2)), CAST(38.14 AS Decimal(10, 2)), CAST(250.00 AS Decimal(10, 2)), N'Emitido', N'PED-02')
INSERT [dbo].[COMPROBANTE] ([ID_COMPROBANTE], [FECHA_EMISION], [MONTO_SUBTOTAL], [IGV_COMPROBANTE], [MONTO_TOTAL], [ESTADO_COMPROBANTE], [ID_PEDIDO]) VALUES (N'COM-03', CAST(N'2026-06-01T09:20:00.000' AS DateTime), CAST(38.14 AS Decimal(10, 2)), CAST(6.86 AS Decimal(10, 2)), CAST(45.00 AS Decimal(10, 2)), N'Emitido', N'PED-03')
GO
INSERT [dbo].[DESPACHO] ([ID_DESPACHO], [FECHA_PROGRAMADA], [COSTO_ENVIO], [ID_PEDIDO], [ID_DIRECCION]) VALUES (N'DES-01', CAST(N'2026-05-11T09:00:00.000' AS DateTime), CAST(10.00 AS Decimal(10, 2)), N'PED-01', N'DIR-01')
INSERT [dbo].[DESPACHO] ([ID_DESPACHO], [FECHA_PROGRAMADA], [COSTO_ENVIO], [ID_PEDIDO], [ID_DIRECCION]) VALUES (N'DES-02', CAST(N'2026-05-16T10:00:00.000' AS DateTime), CAST(15.00 AS Decimal(10, 2)), N'PED-02', N'DIR-03')
INSERT [dbo].[DESPACHO] ([ID_DESPACHO], [FECHA_PROGRAMADA], [COSTO_ENVIO], [ID_PEDIDO], [ID_DIRECCION]) VALUES (N'DES-03', CAST(N'2026-06-05T14:00:00.000' AS DateTime), CAST(12.00 AS Decimal(10, 2)), N'PED-06', N'DIR-03')
GO
INSERT [dbo].[DETALLE_PEDIDO] ([ID_DETALLE_PED], [CANTIDAD_DETALLE], [SUBTOTAL_DETALLE], [TALLA_COLOR], [ID_PEDIDO], [ID_PRODUCTO], [ID_DISENO]) VALUES (N'DP-01', 4, CAST(80.00 AS Decimal(10, 2)), N'Blanco-S', N'PED-01', N'PROD-01', N'DIS-01')
INSERT [dbo].[DETALLE_PEDIDO] ([ID_DETALLE_PED], [CANTIDAD_DETALLE], [SUBTOTAL_DETALLE], [TALLA_COLOR], [ID_PEDIDO], [ID_PRODUCTO], [ID_DISENO]) VALUES (N'DP-02', 10, CAST(250.00 AS Decimal(10, 2)), N'Azul-M', N'PED-02', N'PROD-08', NULL)
INSERT [dbo].[DETALLE_PEDIDO] ([ID_DETALLE_PED], [CANTIDAD_DETALLE], [SUBTOTAL_DETALLE], [TALLA_COLOR], [ID_PEDIDO], [ID_PRODUCTO], [ID_DISENO]) VALUES (N'DP-03', 1, CAST(45.00 AS Decimal(10, 2)), N'Negro-M', N'PED-03', N'PROD-16', N'DIS-19')
GO
INSERT [dbo].[DETALLE_RUTA_DESPACHO] ([ID_RUTA], [HORA_SALIDA], [ESTADO_ENTREGA], [ID_DESPACHO], [ID_REPARTIDOR]) VALUES (N'RUT-01', CAST(N'2026-05-11T08:30:00.000' AS DateTime), N'Entregado', N'DES-01', N'REP-01')
INSERT [dbo].[DETALLE_RUTA_DESPACHO] ([ID_RUTA], [HORA_SALIDA], [ESTADO_ENTREGA], [ID_DESPACHO], [ID_REPARTIDOR]) VALUES (N'RUT-02', CAST(N'2026-05-16T09:15:00.000' AS DateTime), N'Entregado', N'DES-02', N'REP-02')
INSERT [dbo].[DETALLE_RUTA_DESPACHO] ([ID_RUTA], [HORA_SALIDA], [ESTADO_ENTREGA], [ID_DESPACHO], [ID_REPARTIDOR]) VALUES (N'RUT-03', CAST(N'2026-06-05T13:30:00.000' AS DateTime), N'En Ruta', N'DES-03', N'REP-01')
GO
INSERT [dbo].[DETALLE_SUCURSAL] ([ID_DETALLE_SUCURSAL], [FECHA_DETALLE_SUCURSAL], [ID_SEDE], [ID_SUCURSAL]) VALUES (N'DS-01', CAST(N'2026-07-17T21:19:35.727' AS DateTime), N'SED-01', N'SUC-01')
INSERT [dbo].[DETALLE_SUCURSAL] ([ID_DETALLE_SUCURSAL], [FECHA_DETALLE_SUCURSAL], [ID_SEDE], [ID_SUCURSAL]) VALUES (N'DS-02', CAST(N'2026-07-17T21:19:35.727' AS DateTime), N'SED-01', N'SUC-02')
GO
INSERT [dbo].[DIRECCION_CLIENTE] ([ID_DIRECCION], [CALLE_DIRECCION], [REFERENCIA_DIRECCION], [ID_CLIENTE], [ID_UBIGEO]) VALUES (N'DIR-01', N'Av. 28 de Julio 450', N'Frente a la plaza', N'CLI-01', N'150801')
INSERT [dbo].[DIRECCION_CLIENTE] ([ID_DIRECCION], [CALLE_DIRECCION], [REFERENCIA_DIRECCION], [ID_CLIENTE], [ID_UBIGEO]) VALUES (N'DIR-02', N'Calle Moore 123', N'A la espalda del colegio', N'CLI-02', N'150801')
INSERT [dbo].[DIRECCION_CLIENTE] ([ID_DIRECCION], [CALLE_DIRECCION], [REFERENCIA_DIRECCION], [ID_CLIENTE], [ID_UBIGEO]) VALUES (N'DIR-03', N'Av. Túpac Amaru 999', N'Cerca al mercado', N'CLI-31', N'150810')
GO
INSERT [dbo].[FACTURA] ([ID_COMPROBANTE], [RUC_RECEPTOR], [RAZON_SOCIAL_REC], [DIRECCION_FISCAL]) VALUES (N'COM-02', N'20000000001', N'Constructora A', N'Av. Tupac Amaru 999')
INSERT [dbo].[FACTURA] ([ID_COMPROBANTE], [RUC_RECEPTOR], [RAZON_SOCIAL_REC], [DIRECCION_FISCAL]) VALUES (N'COM-04', N'20000000002', N'Colegio B', N'Jr. Salaverry 111')
INSERT [dbo].[FACTURA] ([ID_COMPROBANTE], [RUC_RECEPTOR], [RAZON_SOCIAL_REC], [DIRECCION_FISCAL]) VALUES (N'COM-06', N'20000000001', N'Constructora A', N'Av. Tupac Amaru 999')
GO
INSERT [dbo].[INVENTARIO_SUCURSAL] ([ID_INVENTARIO], [STOCK_DISPONIBLE], [ID_SUCURSAL], [ID_PRODUCTO]) VALUES (N'INV-01', 150, N'SUC-01', N'PROD-01')
INSERT [dbo].[INVENTARIO_SUCURSAL] ([ID_INVENTARIO], [STOCK_DISPONIBLE], [ID_SUCURSAL], [ID_PRODUCTO]) VALUES (N'INV-02', 80, N'SUC-01', N'PROD-02')
INSERT [dbo].[INVENTARIO_SUCURSAL] ([ID_INVENTARIO], [STOCK_DISPONIBLE], [ID_SUCURSAL], [ID_PRODUCTO]) VALUES (N'INV-03', 45, N'SUC-01', N'PROD-11')
GO
INSERT [dbo].[PAGO] ([ID_PAGO], [MONTO_PAGADO], [FECHA_PAGO], [ID_COMPROBANTE]) VALUES (N'PAG-01', CAST(80.00 AS Decimal(10, 2)), CAST(N'2026-05-10T10:36:00.000' AS DateTime), N'COM-01')
INSERT [dbo].[PAGO] ([ID_PAGO], [MONTO_PAGADO], [FECHA_PAGO], [ID_COMPROBANTE]) VALUES (N'PAG-02', CAST(250.00 AS Decimal(10, 2)), CAST(N'2026-05-15T14:26:00.000' AS DateTime), N'COM-02')
INSERT [dbo].[PAGO] ([ID_PAGO], [MONTO_PAGADO], [FECHA_PAGO], [ID_COMPROBANTE]) VALUES (N'PAG-03', CAST(45.00 AS Decimal(10, 2)), CAST(N'2026-06-01T09:21:00.000' AS DateTime), N'COM-03')
GO
INSERT [dbo].[PAGO_DIGITAL] ([ID_PAGO], [TIPO_BILLETERA], [NUMERO_CELULAR], [CODIGO_APROBACION]) VALUES (N'PAG-03', N'Yape', N'900000002', N'YAP-998877')
INSERT [dbo].[PAGO_DIGITAL] ([ID_PAGO], [TIPO_BILLETERA], [NUMERO_CELULAR], [CODIGO_APROBACION]) VALUES (N'PAG-05', N'Plin', N'900000032', N'PLI-112233')
GO
INSERT [dbo].[PAGO_EFECTIVO] ([ID_PAGO], [MONTO_ENTREGADO], [VUELTO_CAMBIO]) VALUES (N'PAG-01', CAST(100.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[PAGO_EFECTIVO] ([ID_PAGO], [MONTO_ENTREGADO], [VUELTO_CAMBIO]) VALUES (N'PAG-04', CAST(60.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[PAGO_TARJETA] ([ID_PAGO], [TIPO_TARJETA], [ULTIMOS_DIGITOS], [NUMERO_OPERACION]) VALUES (N'PAG-02', N'Visa', N'4455', N'OP-000123')
INSERT [dbo].[PAGO_TARJETA] ([ID_PAGO], [TIPO_TARJETA], [ULTIMOS_DIGITOS], [NUMERO_OPERACION]) VALUES (N'PAG-06', N'MasterCard', N'9988', N'OP-000124')
GO
INSERT [dbo].[PEDIDO_VENTA] ([ID_PEDIDO], [FECHA_PEDIDO], [TOTAL_ESTIMADO], [ID_CLIENTE], [ID_COLABORADOR]) VALUES (N'PED-01', CAST(N'2026-05-10T10:30:00.000' AS DateTime), CAST(80.00 AS Decimal(10, 2)), N'CLI-01', N'COL-01')
INSERT [dbo].[PEDIDO_VENTA] ([ID_PEDIDO], [FECHA_PEDIDO], [TOTAL_ESTIMADO], [ID_CLIENTE], [ID_COLABORADOR]) VALUES (N'PED-02', CAST(N'2026-05-15T14:20:00.000' AS DateTime), CAST(250.00 AS Decimal(10, 2)), N'CLI-31', N'COL-05')
INSERT [dbo].[PEDIDO_VENTA] ([ID_PEDIDO], [FECHA_PEDIDO], [TOTAL_ESTIMADO], [ID_CLIENTE], [ID_COLABORADOR]) VALUES (N'PED-03', CAST(N'2026-06-01T09:15:00.000' AS DateTime), CAST(45.00 AS Decimal(10, 2)), N'CLI-02', N'COL-02')
GO
INSERT [dbo].[PRODUCTO_BASE] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO_UNITARIO_BASE], [ID_CATEGORIA]) VALUES (N'PROD-01', N'Polo Cuello Redondo Blanco S', CAST(15.00 AS Decimal(10, 2)), N'CAT-01')
INSERT [dbo].[PRODUCTO_BASE] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO_UNITARIO_BASE], [ID_CATEGORIA]) VALUES (N'PROD-02', N'Polo Cuello Redondo Blanco M', CAST(15.00 AS Decimal(10, 2)), N'CAT-01')
INSERT [dbo].[PRODUCTO_BASE] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO_UNITARIO_BASE], [ID_CATEGORIA]) VALUES (N'PROD-03', N'Polo Cuello Redondo Blanco L', CAST(15.00 AS Decimal(10, 2)), N'CAT-01')
GO
INSERT [dbo].[REPARTIDOR] ([ID_REPARTIDOR], [NOMBRE_COMPLETO_REP], [TELEFONO_REPARTIDOR], [PLACA_VEHICULO]) VALUES (N'REP-01', N'Julio Vaca', N'988888881', N'ABC-123')
INSERT [dbo].[REPARTIDOR] ([ID_REPARTIDOR], [NOMBRE_COMPLETO_REP], [TELEFONO_REPARTIDOR], [PLACA_VEHICULO]) VALUES (N'REP-02', N'Marco Polo', N'988888882', N'XYZ-987')
GO
INSERT [dbo].[SEDE] ([ID_SEDE], [NOMBRE_SEDE], [PRESIO_ALQUILER_SEDE], [DIRECCION_SEDE], [ID_UBIGEO]) VALUES (N'SED-01', N'Sede Central Norte', CAST(2500.00 AS Decimal(10, 2)), N'Av. 28 de Julio 123', N'150801')
GO
INSERT [dbo].[SUCURSAL] ([ID_SUCURSAL], [NUMERO_TELEFONO_SUCURSAL], [HORA_SUCURSAL], [NOMBRE_SUCURSAL], [ID_UBIGEO]) VALUES (N'SUC-01', N'999888777', CAST(N'2026-06-01T08:00:00.000' AS DateTime), N'Tienda Plaza', N'150801')
INSERT [dbo].[SUCURSAL] ([ID_SUCURSAL], [NUMERO_TELEFONO_SUCURSAL], [HORA_SUCURSAL], [NOMBRE_SUCURSAL], [ID_UBIGEO]) VALUES (N'SUC-02', N'999888666', CAST(N'2026-06-01T09:00:00.000' AS DateTime), N'Módulo Mall', N'150810')
GO
INSERT [dbo].[TURNO] ([ID_TURNO], [DESCRIPCION_TURNO], [HORA_TURNO]) VALUES (N'TUR-01', N'Mañana', CAST(N'2026-06-01T08:00:00.000' AS DateTime))
INSERT [dbo].[TURNO] ([ID_TURNO], [DESCRIPCION_TURNO], [HORA_TURNO]) VALUES (N'TUR-02', N'Tarde', CAST(N'2026-06-01T14:00:00.000' AS DateTime))
INSERT [dbo].[TURNO] ([ID_TURNO], [DESCRIPCION_TURNO], [HORA_TURNO]) VALUES (N'TUR-03', N'Noche', CAST(N'2026-06-01T20:00:00.000' AS DateTime))
GO
INSERT [dbo].[UBIGEO] ([ID_UBIGEO], [DEPARTAMENTO_UBIGEO], [PROVINCIA_UBIGEO], [DISTRITO_UBIGEO]) VALUES (N'150801', N'LIMA', N'HUAURA', N'HUACHO')
INSERT [dbo].[UBIGEO] ([ID_UBIGEO], [DEPARTAMENTO_UBIGEO], [PROVINCIA_UBIGEO], [DISTRITO_UBIGEO]) VALUES (N'150802', N'LIMA', N'HUAURA', N'AMBAR')
INSERT [dbo].[UBIGEO] ([ID_UBIGEO], [DEPARTAMENTO_UBIGEO], [PROVINCIA_UBIGEO], [DISTRITO_UBIGEO]) VALUES (N'150803', N'LIMA', N'HUAURA', N'CALETA DE CARQUIN')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLIENTE___09569D37C225EF4E]    Script Date: 22/07/2026 15:41:16 ******/
ALTER TABLE [dbo].[CLIENTE_JURIDICO] ADD UNIQUE NONCLUSTERED 
(
	[RUC_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLIENTE___B65880949D71950A]    Script Date: 22/07/2026 15:41:16 ******/
ALTER TABLE [dbo].[CLIENTE_NATURAL] ADD UNIQUE NONCLUSTERED 
(
	[DNI_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__COMPROBA__A05C2F2B7D897928]    Script Date: 22/07/2026 15:41:16 ******/
ALTER TABLE [dbo].[COMPROBANTE] ADD UNIQUE NONCLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DESPACHO__A05C2F2B3090E9BA]    Script Date: 22/07/2026 15:41:16 ******/
ALTER TABLE [dbo].[DESPACHO] ADD UNIQUE NONCLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASIGNACION_PRODUCCION_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_DETALLE] FOREIGN KEY([ID_DETALLE_PED])
REFERENCES [dbo].[DETALLE_PEDIDO] ([ID_DETALLE_PED])
GO
ALTER TABLE [dbo].[ASIGNACION_PRODUCCION_VENTA] CHECK CONSTRAINT [FK_ASIGNACION_DETALLE]
GO
ALTER TABLE [dbo].[ASIGNACION_PRODUCCION_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_DISENADOR] FOREIGN KEY([ID_COLABORADOR_DIS])
REFERENCES [dbo].[COLABORADOR] ([ID_COLABORADOR])
GO
ALTER TABLE [dbo].[ASIGNACION_PRODUCCION_VENTA] CHECK CONSTRAINT [FK_ASIGNACION_DISENADOR]
GO
ALTER TABLE [dbo].[ASIGNACION_PRODUCCION_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_SUBLIMADOR] FOREIGN KEY([ID_COLABORADOR_SUB])
REFERENCES [dbo].[COLABORADOR] ([ID_COLABORADOR])
GO
ALTER TABLE [dbo].[ASIGNACION_PRODUCCION_VENTA] CHECK CONSTRAINT [FK_ASIGNACION_SUBLIMADOR]
GO
ALTER TABLE [dbo].[BOLETA]  WITH CHECK ADD  CONSTRAINT [FK_BOLETA_COMPROBANTE] FOREIGN KEY([ID_COMPROBANTE])
REFERENCES [dbo].[COMPROBANTE] ([ID_COMPROBANTE])
GO
ALTER TABLE [dbo].[BOLETA] CHECK CONSTRAINT [FK_BOLETA_COMPROBANTE]
GO
ALTER TABLE [dbo].[CLIENTE_JURIDICO]  WITH CHECK ADD  CONSTRAINT [FK_JURIDICO_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CLIENTE_JURIDICO] CHECK CONSTRAINT [FK_JURIDICO_CLIENTE]
GO
ALTER TABLE [dbo].[CLIENTE_NATURAL]  WITH CHECK ADD  CONSTRAINT [FK_NATURAL_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CLIENTE_NATURAL] CHECK CONSTRAINT [FK_NATURAL_CLIENTE]
GO
ALTER TABLE [dbo].[COLABORADOR]  WITH CHECK ADD  CONSTRAINT [FK_COLABORADOR_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[COLABORADOR] CHECK CONSTRAINT [FK_COLABORADOR_SUCURSAL]
GO
ALTER TABLE [dbo].[COLABORADOR_DISENADOR]  WITH CHECK ADD  CONSTRAINT [FK_DISENADOR_COLABORADOR] FOREIGN KEY([ID_COLABORADOR])
REFERENCES [dbo].[COLABORADOR] ([ID_COLABORADOR])
GO
ALTER TABLE [dbo].[COLABORADOR_DISENADOR] CHECK CONSTRAINT [FK_DISENADOR_COLABORADOR]
GO
ALTER TABLE [dbo].[COLABORADOR_SUBLIMADOR]  WITH CHECK ADD  CONSTRAINT [FK_SUBLIMADOR_COLABORADOR] FOREIGN KEY([ID_COLABORADOR])
REFERENCES [dbo].[COLABORADOR] ([ID_COLABORADOR])
GO
ALTER TABLE [dbo].[COLABORADOR_SUBLIMADOR] CHECK CONSTRAINT [FK_SUBLIMADOR_COLABORADOR]
GO
ALTER TABLE [dbo].[COLABORADOR_VENDEDOR]  WITH CHECK ADD  CONSTRAINT [FK_VENDEDOR_COLABORADOR] FOREIGN KEY([ID_COLABORADOR])
REFERENCES [dbo].[COLABORADOR] ([ID_COLABORADOR])
GO
ALTER TABLE [dbo].[COLABORADOR_VENDEDOR] CHECK CONSTRAINT [FK_VENDEDOR_COLABORADOR]
GO
ALTER TABLE [dbo].[COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_COMPROBANTE_PEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO_VENTA] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[COMPROBANTE] CHECK CONSTRAINT [FK_COMPROBANTE_PEDIDO]
GO
ALTER TABLE [dbo].[DESPACHO]  WITH CHECK ADD  CONSTRAINT [FK_DESPACHO_DIRECCION] FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[DIRECCION_CLIENTE] ([ID_DIRECCION])
GO
ALTER TABLE [dbo].[DESPACHO] CHECK CONSTRAINT [FK_DESPACHO_DIRECCION]
GO
ALTER TABLE [dbo].[DESPACHO]  WITH CHECK ADD  CONSTRAINT [FK_DESPACHO_PEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO_VENTA] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[DESPACHO] CHECK CONSTRAINT [FK_DESPACHO_PEDIDO]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_DISENO] FOREIGN KEY([ID_DISENO])
REFERENCES [dbo].[CATALOGO_DISENOS] ([ID_DISENO])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_DISENO]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDO_MAESTRA] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO_VENTA] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PEDIDO_MAESTRA]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO_BASE] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PRODUCTO]
GO
ALTER TABLE [dbo].[DETALLE_RUTA_DESPACHO]  WITH CHECK ADD  CONSTRAINT [FK_RUTA_DESPACHO] FOREIGN KEY([ID_DESPACHO])
REFERENCES [dbo].[DESPACHO] ([ID_DESPACHO])
GO
ALTER TABLE [dbo].[DETALLE_RUTA_DESPACHO] CHECK CONSTRAINT [FK_RUTA_DESPACHO]
GO
ALTER TABLE [dbo].[DETALLE_RUTA_DESPACHO]  WITH CHECK ADD  CONSTRAINT [FK_RUTA_REPARTIDOR] FOREIGN KEY([ID_REPARTIDOR])
REFERENCES [dbo].[REPARTIDOR] ([ID_REPARTIDOR])
GO
ALTER TABLE [dbo].[DETALLE_RUTA_DESPACHO] CHECK CONSTRAINT [FK_RUTA_REPARTIDOR]
GO
ALTER TABLE [dbo].[DETALLE_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_DETALLESUCURSAL_SEDE] FOREIGN KEY([ID_SEDE])
REFERENCES [dbo].[SEDE] ([ID_SEDE])
GO
ALTER TABLE [dbo].[DETALLE_SUCURSAL] CHECK CONSTRAINT [FK_DETALLESUCURSAL_SEDE]
GO
ALTER TABLE [dbo].[DETALLE_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_DETALLESUCURSAL_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[DETALLE_SUCURSAL] CHECK CONSTRAINT [FK_DETALLESUCURSAL_SUCURSAL]
GO
ALTER TABLE [dbo].[DETALLE_TURNO_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_TURNO_EMPLEADO_COLABORADOR] FOREIGN KEY([ID_COLABORADOR])
REFERENCES [dbo].[COLABORADOR] ([ID_COLABORADOR])
GO
ALTER TABLE [dbo].[DETALLE_TURNO_EMPLEADO] CHECK CONSTRAINT [FK_DETALLE_TURNO_EMPLEADO_COLABORADOR]
GO
ALTER TABLE [dbo].[DETALLE_TURNO_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_TURNO_EMPLEADO_TURNO] FOREIGN KEY([ID_TURNO])
REFERENCES [dbo].[TURNO] ([ID_TURNO])
GO
ALTER TABLE [dbo].[DETALLE_TURNO_EMPLEADO] CHECK CONSTRAINT [FK_DETALLE_TURNO_EMPLEADO_TURNO]
GO
ALTER TABLE [dbo].[DIRECCION_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_DIRECCION_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[DIRECCION_CLIENTE] CHECK CONSTRAINT [FK_DIRECCION_CLIENTE]
GO
ALTER TABLE [dbo].[DIRECCION_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_DIRECCION_UBIGEO] FOREIGN KEY([ID_UBIGEO])
REFERENCES [dbo].[UBIGEO] ([ID_UBIGEO])
GO
ALTER TABLE [dbo].[DIRECCION_CLIENTE] CHECK CONSTRAINT [FK_DIRECCION_UBIGEO]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_COMPROBANTE] FOREIGN KEY([ID_COMPROBANTE])
REFERENCES [dbo].[COMPROBANTE] ([ID_COMPROBANTE])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_COMPROBANTE]
GO
ALTER TABLE [dbo].[INVENTARIO_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_INVENTARIO_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO_BASE] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[INVENTARIO_SUCURSAL] CHECK CONSTRAINT [FK_INVENTARIO_PRODUCTO]
GO
ALTER TABLE [dbo].[INVENTARIO_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_INVENTARIO_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[INVENTARIO_SUCURSAL] CHECK CONSTRAINT [FK_INVENTARIO_SUCURSAL]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_COMPROBANTE] FOREIGN KEY([ID_COMPROBANTE])
REFERENCES [dbo].[COMPROBANTE] ([ID_COMPROBANTE])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_COMPROBANTE]
GO
ALTER TABLE [dbo].[PAGO_DIGITAL]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_DIGITAL_PAGO] FOREIGN KEY([ID_PAGO])
REFERENCES [dbo].[PAGO] ([ID_PAGO])
GO
ALTER TABLE [dbo].[PAGO_DIGITAL] CHECK CONSTRAINT [FK_PAGO_DIGITAL_PAGO]
GO
ALTER TABLE [dbo].[PAGO_EFECTIVO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_EFECTIVO_PAGO] FOREIGN KEY([ID_PAGO])
REFERENCES [dbo].[PAGO] ([ID_PAGO])
GO
ALTER TABLE [dbo].[PAGO_EFECTIVO] CHECK CONSTRAINT [FK_PAGO_EFECTIVO_PAGO]
GO
ALTER TABLE [dbo].[PAGO_TARJETA]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_TARJETA_PAGO] FOREIGN KEY([ID_PAGO])
REFERENCES [dbo].[PAGO] ([ID_PAGO])
GO
ALTER TABLE [dbo].[PAGO_TARJETA] CHECK CONSTRAINT [FK_PAGO_TARJETA_PAGO]
GO
ALTER TABLE [dbo].[PEDIDO_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PEDIDO_VENTA] CHECK CONSTRAINT [FK_PEDIDO_CLIENTE]
GO
ALTER TABLE [dbo].[PEDIDO_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_COLABORADOR] FOREIGN KEY([ID_COLABORADOR])
REFERENCES [dbo].[COLABORADOR] ([ID_COLABORADOR])
GO
ALTER TABLE [dbo].[PEDIDO_VENTA] CHECK CONSTRAINT [FK_PEDIDO_COLABORADOR]
GO
ALTER TABLE [dbo].[PRODUCTO_BASE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTO_BASE] CHECK CONSTRAINT [FK_PRODUCTO_CATEGORIA]
GO
ALTER TABLE [dbo].[SEDE]  WITH CHECK ADD  CONSTRAINT [FK_SEDE_UBIGEO] FOREIGN KEY([ID_UBIGEO])
REFERENCES [dbo].[UBIGEO] ([ID_UBIGEO])
GO
ALTER TABLE [dbo].[SEDE] CHECK CONSTRAINT [FK_SEDE_UBIGEO]
GO
ALTER TABLE [dbo].[SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_SUCURSAL_UBIGEO] FOREIGN KEY([ID_UBIGEO])
REFERENCES [dbo].[UBIGEO] ([ID_UBIGEO])
GO
ALTER TABLE [dbo].[SUCURSAL] CHECK CONSTRAINT [FK_SUCURSAL_UBIGEO]
GO
/****** Object:  StoredProcedure [dbo].[SP_GENERAR_PEDIDO_Y_COMPROBANTE]    Script Date: 22/07/2026 15:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------STORE PROCEDURE COMPROBANTE Y PEDIDO----------

CREATE PROCEDURE [dbo].[SP_GENERAR_PEDIDO_Y_COMPROBANTE]
    @ID_PEDIDO VARCHAR(10),
    @ID_CLIENTE VARCHAR(10),
    @ID_COLABORADOR VARCHAR(10),
    @MONTO_TOTAL DECIMAL(10,2),
    @ID_COMPROBANTE VARCHAR(10)
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN;

        -- 1. Insertar el Pedido principal
        -- Usamos GETDATE() para registrar la hora exacta del servidor automáticamente
        INSERT INTO PEDIDO_VENTA(ID_PEDIDO, FECHA_PEDIDO, TOTAL_ESTIMADO, ID_CLIENTE, ID_COLABORADOR)
        VALUES (@ID_PEDIDO, GETDATE(), @MONTO_TOTAL, @ID_CLIENTE, @ID_COLABORADOR);

        -- 2. Lógica de negocio: Calcular Subtotal e IGV (18%) dinámicamente
        -- Evitamos que el usuario ingrese estos datos manualmente para no cometer errores
        DECLARE @Subtotal DECIMAL(10,2) = @MONTO_TOTAL / 1.18;
        DECLARE @Igv DECIMAL(10,2) = @MONTO_TOTAL - @Subtotal;

        -- 3. Generar el Comprobante automáticamente anclado al Pedido
        INSERT INTO COMPROBANTE(ID_COMPROBANTE, FECHA_EMISION, MONTO_SUBTOTAL, IGV_COMPROBANTE, MONTO_TOTAL, ESTADO_COMPROBANTE, ID_PEDIDO)
        VALUES (@ID_COMPROBANTE, GETDATE(), @Subtotal, @Igv, @MONTO_TOTAL, 'Emitido', @ID_PEDIDO);

        COMMIT TRAN;
        PRINT 'Operación Completa: Pedido y Comprobante generados y calculados con éxito.';
    END TRY

    BEGIN CATCH
        ROLLBACK TRAN;
        PRINT 'Error: Falla en la integridad referencial. Transacción revertida.';
        -- Esta función del sistema le dirá al profesor exactamente qué falló
        PRINT ERROR_MESSAGE(); 
    END CATCH
END;
GO
USE [master]
GO
